__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
.pytest_cache/
.mypy_cache/
*.deb
*.buildinfo
*.changes
debian/.debhelper/
debian/files
debian/*.substvars
debian/edutictac-link/
.coverage
htmlcov/
dist/
